header {
    display: block;
    font-size: 21px;
    height: 130px;
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 21;
    transition: height 0.1s ease-in-out;
}
#contact,
footer {
    height: 35px;
    background: rgb(60, 60, 60)
}
.spanMiddle {
    color: white;
    float: right;
    font-size: 75%;
    font-family: sans-serif;
    margin-top: 9px;
}
#foot_dynamic {
    float: left;
    padding-left: 80px;
    font-family: 'Oxygen', sans-serif;
}
footer>.spanMiddle {
    margin-top: 13px;
    color: rgba(255, 255, 255, 0.8)
}
span.white {
    color: white;
}
#mailContacto,
#foot_mailContacto {
    padding-right: 100px;
    padding-left: 30px;
    border-left: 1px solid white;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
}
#telefono,
#foot_telefono {
    padding-right: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
}
#telefono {
    padding-left: 30px;
    border-left: 1px solid white;
}
#facebook,
#twitter {
    padding-right: 5px;
    background: transparent no-repeat center;
    background-size: auto 100%;
    display: block;
    height: Calc(100% - 18px);
    width: 3%;
+ transition: opacity 0.2s ease-in-out;
    opacity: 1;
}
#facebook {
    padding-right: 15px;
    background-image: url("../rsc/img/dynamic_fb.png");
}
#twitter {
    background-size: auto 130%;
    background-position-x: 100%;
    background-image: url("../rsc/img/dynamic_yt.png");
}
#facebook:hover,
#twitter:hover {
    opacity: 0.8;
    cursor: pointer !important;
}
#dynamicIcon {
    display: block;
    height: Calc(100% - 35px);
    float: left;
    position: relative;
    transition: all 0.2s ease-in-out;
    pointer-events:none;
}
#dynamicIcon::after,
#dynamicIcon::before {
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:transparent no-repeat center;
    background-size: auto 65%;
    background-position-x: 15%;
    transition: all 0.2s ease-in-out;
    pointer-events:none;
}
#dynamicIcon::after {
    z-index: 10;
    background-image: url(../rsc/img/dynamiclogo_azul.png);
    opacity: 1;
    animation: fadeOut 3s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#dynamicIcon::before {
    background-image: url(../rsc/img/dynamiclogo_blanco.png);
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.navIcon {
    display: block;
    float: left;
    height: Calc(100% - 35px);
    background: transparent no-repeat;
    background-position-x: center;
    background-position-y: 32%;
    background-size: 25% auto;
    display: table;
    opacity: 0.6;
    overflow: hidden;
    transition: background-position-x 0.2s ease-in-out;
}
.navIcon label {
    display: table-cell;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 13%;
    font-size: 10pt;
    pointer-events: none;
}
.navIcon[selected] {
    opacity: 1;
}
.navIcon:hover {
    cursor: pointer;
}
.navIcon:not([selected]):hover {
    cursor: pointer;
    opacity: 0.8;
}
#inicioIcon {
    background-image: url("../rsc/img/inicio_icon.png");
}
#nosotrosIcon {
    background-image: url("../rsc/img/nosotros_icon.png");
}
#simuladoresIcon {
    background-image: url("../rsc/img/simuladores_icon.png");
}
#contactoIcon {
    background-image: url("../rsc/img/contacto_icon.png");
}
footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    background: rgb(42, 42, 42);
    position: absolute;
    z-index: 10;
}
header[typeB] {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 650px) {
    header[typeB] {
        height: 53px;
    }
    header[typeB]>#contact {
        display: none;
    }
    header[typeB] label {
        font-size: 10pt;
        padding: 0;
        text-align: left;
        vertical-align: middle;
        text-indent: 30px;
    }
    header[typeB] #dynamicIcon::after,
    header[typeB] #dynamicIcon::before {
        background-size: auto 68%;
    }
    header[typeB] #dynamicIcon {
        width: 25%;
    }
    header[typeB] .navIcon,
    header[typeB] #dynamicIcon {
        height: 53px;
    }
    header[typeB] .navIcon {
        background-size: 20px 20px;
        background-position: center;
        background-position-x: left;
        width: Calc(75% / 4);
    }
}

#linkerToMain {
    position: absolute;
    height: Calc(100% - 35px);
    bottom: 0;
    left: 2%;
    width: 35%;
    display: block;
    z-index: 20;
}
#linkerToMain:hover {
    cursor: pointer !important;
}
@media (min-width: 650px) {
    header[typeB] #linkerToMain {
        height: 100%;
        bottom: 0;
        left: 2%;
        width: 15%;
    }
}
@media (max-width: 480px) {
    #linkerToMain {
        height: 50%;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    header {
        height: 70px;
    }
    #dynamicIcon {
        height: 100% !important;
    }
    #linkerToMain {
        height: 100% !important;
    }
    #menuIcon {
        display:block;
        height:100%;
        width:20%;
        background:url("../rsc/img/menu-icon.png") no-repeat center;
        background-size:auto 45%;
        position:absolute;
        left:0;
        top:0;
        pointer-events:all;
    }
    #menuIcon::before {
        position:absolute;
        left:0;
        top:0;
        height:0%;
        width:0%;
        margin-left:50%;
        margin-top:50%;
        content:"";
        background:white;
        z-index:-1;
        border-radius:100%;
        opacity:0.0;
        transition:all 0.2s ease-in-out;
    }
    #menuIcon:active::before {
        opacity:0.2;
        height:80%;
        width:80%;
        margin-left:10%;
        margin-top:10%;
    }

    #linkerMenu {
        min-width:200px;
        position:fixed;
        z-index: 3500;
        left:-100%;
        top:0;
        height:650px;
        background:rgba(30,30,30,0.95);
        pointer-events:all;
        transition:left 0.3s ease-in-out;
    }
    #linkerMenu.left {
        left:0%;
    }

    .linkerMenuNavIcon {
        width:100%;
        height:100px;
        border-bottom:1px solid rgb(120,120,120);
        position: relative;
        overflow:hidden;
    }

    #returnMenu {
        width:100%;
        height:70px;
        background:url("../rsc/img/left-arrow.svg") no-repeat center;
        background-size:auto 45%;
        background-position-x:15%;
        border-bottom:1px solid rgb(120,120,120);
    }
    .image_navIcon {
        width:75px;
        float:left;
        height:100%;
        background:transparent no-repeat center;
        background-size:auto 32%;
    }
    #image_navIcon_inicio {
        background-image: url("../rsc/img/inicio_icon.png");
    }
    #image_navIcon_nosotros {
        background-image: url("../rsc/img/nosotros_icon.png");
    }
    #image_navIcon_simuladores {
        background-image: url("../rsc/img/simuladores_icon.png");
    }
    #image_navIcon_contacto {
        background-image: url("../rsc/img/contacto_icon.png");
    }
    .path_navIcon {
        width:125px;
        float:left;
        height:100%;
        display:table;
    }
    .path_navIcon>label{
        display: table-cell;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align:left !important;
        vertical-align: middle;
        font-size: 12pt;
        pointer-events: none;
    }
    .linkerMenuNavIcon:before{
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        content:"";
        background:white;
        z-index:-1;
        opacity:0.0;
        transition:all 0.3s ease-in-out;
    }
    .linkerMenuNavIcon:active::before {
        opacity:0.2;
    }
    .linkerMenuNavIcon * {
        pointer-events:none;
    }
    .social {
        width:50%;
        height:75px;
        float:left;
        background:transparent no-repeat center;
        background-size:auto 32%;
    }
    #yt {
        background-image:url("../rsc/img/dynamic_yt.png");
        background-size:auto 40%;
    }
    #fb {
        background-image:url("../rsc/img/dynamic_fb.png");
    }
}